# ── Kafka ─────────────────────────────────────────────────
confluent-kafka==2.3.0

# ── Redis ─────────────────────────────────────────────────
redis==5.0.1

# ── RabbitMQ ──────────────────────────────────────────────
pika==1.3.2

# ── ML / Embedding ────────────────────────────────────────
sentence-transformers==2.7.0
torch==2.2.2+cpu          # ใช้ CPU version — เบากว่า GPU version มาก
torchvision==0.17.2+cpu

# ── Pinecone ──────────────────────────────────────────────
pinecone==3.2.2