name: Build Sonarqube


on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main


jobs:
  build:
    name: Build and Analyze with Sonar
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
         fetch-depth: 0


      - name: SonarQube / SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


      - name: Sonar Quality Gate (BLOCK if fail)
        uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
        timeout-minutes: 5
        env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}